services:
  app:
    build: .
    tty: true
    ports:
      - 8000:8000
    volumes:
      - .:/app
      - node_modules:/app/node_modules
  db:
    image: postgres:16.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nn_chat
      TZ: Asia/Tokyo
    
volumes:
  node_modules:
  
